# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Production
dist/
.wrangler

# Environment variables
.dev.vars
.env
.env.*
!.env.example

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Cache
.cache/
.eslintcache

# Temporary files
*.tmp
*.temp
serviceAccountKey.json